@media print {
  :root {
    --body-font-family: "Noto Serif CJK SC", "Noto Serif CJK JP", serif;
  }
  .cjk-font-serif {
    font-family: var(--body-font-family);
    line-height:2;
    font-size: 12pt;
    text-align: justify;
  }
}
